@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_property-card.scss";
@import "./_listing-page.scss";

.primary-text {
    color: #6941c6 !important;
}

.secondary-button-bg {
    background-color: #f4ebff !important;
}

.primary-button-bg {
    background-color: #6941c6 !important;
}

.thumbnail {
    height: 45%;
}

.secondary {
    background-color: #f7f7fe
}

.error {
    color: red;
    font-size: x-small;
}

* {
    font-family: 'Inter', sans-serif !important;
}